/**
 * Beige theme for reveal.js.
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
/*
@import url(../../lib/font/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Miriam+Libre:400,700);
@import url(https://fonts.googleapis.com/css?family=Sintony:400);
*/
/*********************************************
 * GLOBAL STYLES
 *********************************************/
/*
body {
  background: #f7f2d3;
  background: -moz-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, #f7f2d3));
  background: -webkit-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: -o-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: -ms-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background-color: #f7f3de; }

.reveal {
  font-family: 'Sintony', sans-serif;
  font-size: 33px;
  font-weight: 300;
  color: #333; }

::selection {
  color: #fff;
  background: rgba(79, 64, 28, 0.99);
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: rgba(79, 64, 28, 0.99);
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }
*/

/*********************************************
 * HEADERS
 *********************************************/
/*
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #333;
  font-family: "Miriam libre", "Sintony", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.2em; }

.reveal h2 {
  font-size: 2em; }

.reveal h3 {
  font-size: 1.6em; }

.reveal h4 {
  font-size: 1.2em; }

.reveal h1 {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15); }

.reveal h1.headline {
  font-size: 2.3em;
}

.reveal h2.left {
  text-align: left;
}
*/

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 15px 0;
  line-height: 1.1; }

.reveal p.byline {
  color: white;
  font-size: 1.7em;
  letter-spacing: 2px; 
  font-weight: bold; }
  
/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 97%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.1em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; 
  font-size: 20px; }

.reveal pre code {
  font-size: 1.2em;
  line-height: 1.2;
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 60vh !important;
  word-wrap: normal; 
  border-radius: 10px; }

.reveal .slides section .code-presenting-annotation {
  color: white;
  background: #b5ad86;
  padding: 1px 15px;
  border-radius: 15px;
  opacity: 0.75 !important;
  font-size: 50% !important;
}

.reveal p span.slide-title {
  color: white;
  padding: 4px 15px;
  opacity: 0.75 !important;
  border-radius: 15px;
  display: none;
}

.reveal div.left {
    float: left;
    z-index: -10;
    width: 45%;
    text-align: left; 
}

.reveal div.right {
    float: right;
    z-index: -10;
    width: 55%;
    text-align: left !important;
    font-size: 0.8em !important;
}

.message-box {
  width: 100%;
  border-radius: 15px;
  background-color: #b5ad86;
  padding: 7px 7px !important;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 3px; 
  font-size: 16px; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #8b743d;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #c0a86e;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #564826; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 0px 0px;
  border: 0;
  background: none;
  box-shadow: none; }
/*******************************************
 background: rgba(255, 255, 255, 0.12); 
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
 width: 500px; 
 *******************************************/

.reveal section img.plain {
  border: 0;
  box-shadow: none; 
  width: 600px; }

.reveal section img.wide {
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  width: 900px; }

.sidebar img {
  width: 25%;
}

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #8b743d;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #8b743d; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #8b743d; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #8b743d; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #8b743d; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #c0a86e; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #c0a86e; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #c0a86e; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #c0a86e; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #8b743d;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * BIO
 *********************************************/
.bio {
  text-align: center;
}

.bio img {
    width: 80%;
    border-radius: 50%;
}

.bio-headline {
  color: black;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.0em !important;
}

.bio-byline {
  color: #8b743d;
  font-size: 0.6em !important;
}

.bio-tagline {
  color: #8b743d;
  font-size: 0.8em !important;
  font-style: italic !important;
}

.bio-contact {
  color: white;
  font-size: 0.7em !important;
}

.bio-about {
  font-size: 0.7em !important;
}

.bio-fa {
  color: #E49436;
}

/******************************************
 * pic plus text or bullets
*******************************************/

.graphql-title {
  width: 50%;
  text-align: center;
  word-wrap: normal; 
}

.graphql-details {
  width: 50%;
  font-size: 0.8em !important;
  line-height: 1.5em !important;
}

.graphql-arch img {
/*
  width: 50%;
*/
  border: none !important;
  box-shadow: none !important;
}

.graphql-bullets {
  width: 50%;
  font-size: 0.8em !important;
  line-height: 1.5em !important;
}

.graphql-bullets-small {
  width: 47%;
  font-size: 0.5em !important;
  line-height: 1.1em !important;
  text-align: left;
}

/******************************************
 * objetivos
*******************************************/

.objectives {
  width: 30%;
  height: 23%;
  color: white;
  font-size: 0.8em !important;
  background-color: #8b743d;
  border-radius: 10px;
  padding: 10px 10px !important;
}

/******************************************
 * colores
*******************************************/

.light-brown { color : #8b743d; }

.fa-pink { color : #eba3ff; }

.fa-peach { color : #ffa6b9; }

.fa-lime { color : #b9ff66; }

.fa-red-nice { color : #d11141; }

.fa-green { color : #36802d; }
